<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>韭菜炒蛋</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>韭菜</string>
				<key>amount</key>
				<string>100克</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鸡蛋</string>
				<key>amount</key>
				<string>2个</string>
			</dict>
			<dict>
				<key>name</key>
				<string>油</string>
				<key>amount</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>盐</string>
				<key>amount</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>自制火锅</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>韭菜</string>
				<key>amount</key>
				<string>一斤</string>
			</dict>
			<dict>
				<key>name</key>
				<string>牛肉丸</string>
				<key>amount</key>
				<string>一斤</string>
			</dict>
			<dict>
				<key>name</key>
				<string>辣椒酱</string>
				<key>amount</key>
				<string>一大瓶</string>
			</dict>
			<dict>
				<key>name</key>
				<string>生菜</string>
				<key>amount</key>
				<string>足量</string>
			</dict>
			<dict>
				<key>name</key>
				<string>火腿肠</string>
				<key>amount</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>米粉</string>
				<key>amount</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>金针菇</string>
				<key>amount</key>
				<string>足量</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>蛋炒饭</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>鸡蛋</string>
				<key>amount</key>
				<string>3个</string>
			</dict>
			<dict>
				<key>name</key>
				<string>米饭</string>
				<key>amount</key>
				<string>一碗</string>
			</dict>
			<dict>
				<key>name</key>
				<string>油</string>
				<key>amount</key>
				<string>适量</string>
			</dict>
			<dict>
				<key>name</key>
				<string>盐</string>
				<key>amount</key>
				<string>适量</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>西红柿炒鸡蛋</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>西红柿</string>
				<key>amount</key>
				<string>2个</string>
			</dict>
			<dict>
				<key>name</key>
				<string>鸡蛋</string>
				<key>amount</key>
				<string>4个</string>
			</dict>
			<dict>
				<key>name</key>
				<string>老干妈</string>
				<key>amount</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>测试1</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>111</string>
				<key>amount</key>
				<string>111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>222</string>
				<key>amount</key>
				<string>222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>333</string>
				<key>amount</key>
				<string>333</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>测试2</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>111</string>
				<key>amount</key>
				<string>111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>222</string>
				<key>amount</key>
				<string>222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>333</string>
				<key>amount</key>
				<string>333</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>测试3</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>111</string>
				<key>amount</key>
				<string>111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>222</string>
				<key>amount</key>
				<string>222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>333</string>
				<key>amount</key>
				<string>333</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>测试4</string>
		<key>ingredient</key>
		<array>
			<dict>
				<key>name</key>
				<string>111</string>
				<key>amount</key>
				<string>111</string>
			</dict>
			<dict>
				<key>name</key>
				<string>222</string>
				<key>amount</key>
				<string>222</string>
			</dict>
			<dict>
				<key>name</key>
				<string>333</string>
				<key>amount</key>
				<string>333</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
